In [1]:
Text = "l am learning NLP"

In [2]:
#importing the library 
import pandas as pd
#generating the features
pd.get_dummies(Text.split())

     NLP     am      l  learning
0  False  False   True     False
1  False   True  False     False
2  False  False  False      True
3   True  False  False     False

In [3]:
text = ["i love NLP and i will learn NLP in 2month"]
#single character are ignored by count vectorizer

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
vectorizer.fit(text)
vector = vectorizer.transform(text)

In [5]:
print(vectorizer.vocabulary_)
print(vector.toarray())

{'love': 4, 'nlp': 5, 'and': 1, 'will': 6, 'learn': 3, 'in': 2, '2month': 0}
[[1 1 1 1 1 2 1]]

In [6]:
print(vector)

  (0, 0)	1
  (0, 1)	1
  (0, 2)	1
  (0, 3)	1
  (0, 4)	1
  (0, 5)	2
  (0, 6)	1

In [13]:
df = pd.DataFrame(data=vector.toarray(), columns=vectorizer.get_),feature_names_out() 
df

SyntaxError: unmatched ')' (3775958572.py, line 1)

In [8]:
Text = ["The quick brown fox jumped over the lazy dog." "The dog.","The fox"]

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectorizer.fit(text)
#summarize
print(vectorizer.vocabulary_)
print(vectorizer.idf_)

{'love': 4, 'nlp': 5, 'and': 1, 'will': 6, 'learn': 3, 'in': 2, '2month': 0}
[1. 1. 1. 1. 1. 1. 1.]